.myGlobalStyles {
    margin: 0;
    background-color: rgb(240, 247, 254);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family:'Courier New', Courier, monospace;
}

.myapp {
    background-color: grey !important;
}